/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
